.container {
    max-width: 1280px;
    margin: 0 auto;
    background: #FFFFFF;
}
.nav-link{
    display: flex;
    justify-content: center;
    /*text-align: center;*/
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    list-style-type: none;
}
.nav-link a{
    text-decoration: none;
    color: red;
    padding-right: 72px;
}
.nav-item {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.title {
    text-align: center
}
.button {
    background-color: red;
    margin: 0 auto;
    display: block;
    /*width: 191px;
    height: 51px;*/
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}
.foto{
    padding-left: 0;
    width: 1280px;
    height: 789px;
}

.text-1{
    width: 1145px;
    padding-left: 67.5px;
    letter-spacing: 2.4px;
}
.text-2{
    width: 1145px;
    padding-left: 67.5px;
    letter-spacing: 2.4px;
}
footer{
    padding-top: 82px;
    padding-left: 713px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
}


